[phases.setup]
nixPkgs = ["python311", "pip"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python -m pip install --upgrade pip"]

[start]
cmd = "python app.py"

[variables]
PORT = "8000"
PYTHONUNBUFFERED = "1"

